<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="s1"  parallel="tests" verbose="1">
<listener ></listener>
	<test name="frontend" >
	
		<classes>


			<class name="Back.AddMovieTest">

			</class>

		</classes>

	</test>
	
		<test name="backgroud" >

		<classes>

			<class name="Back.AddMovieTest">

			</class>

		</classes>

	</test>

</suite>