<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="s1" verbose="1">
<listeners>
        <listener class-name="Other.Listener"></listener>
</listeners>
	<test name="t1">
		<classes>
			<class name="CommentManagement.CMhuifuTest"></class> <!--2-->
			<!--<class name="CommentManagement.CMsearchTest"></class>
			<class name="GoodsManagement.GMaddgoodsTest"></class>
			<class name="OrderManagement.OMsearchTest"></class>
			<class name="OrderManagement.OMxiangqingTest"></class>
			<class name="OrderManagement.OMxiugaiTest"></class>
			<class name="UserManagement.UMaddhuiyuanTest"></class>
			<class name="UserManagement.UMaddyuangongTest"></class>
			<class name="UserManagement.UMhyxiugaiTest"></class>
			<class name="UserManagement.UMygbianjiTest"></class>
			<class name="UserManagement.UMygchakanzuTest"></class>
			<class name="UserManagement.UMygdelTest"></class>
			<class name="UserManagement.UMygrepasswordTest"></class>
			<class name="UserManagement.UMygsearchTest"></class> -->
		</classes>
	</test>
</suite>